apiVersion: v1
kind: Service
metadata:
  name: {{ .Chart.Name }}
  labels:
    release: kube-prometheus-stack
    app: todoapp
spec:
  type: ClusterIP
  selector:
    app: todoapp
  ports:
    - port: 80
      targetPort: 8080
      protocol: TCP
      name: http-metrics